.pop-up__job {
    min-width: 350px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    display: block;
    margin: 0 36px;
    padding-bottom: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    color: #000000;
}

@media (max-width: 522px) {
    .pop-up__job {
        min-width: 260px;
        margin: 0 auto;
    }
}

@media (max-width: 398px) {
    .pop-up__job {
        min-width: 210px;
    }
}