.profile__edit-button {
    box-sizing: border-box;
    border: 1px solid white;
    background: black;
    max-width: 24px;
    max-height: 24px;
    grid-column: 2;
    grid-row: 1;
    transition: 0.8s linear;
    margin: 0 0 13px 17px;
    align-self: end;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.profile__edit-button:hover {
    opacity: 0.6;
}


@media (max-width: 546px) {
    .profile__edit-button {
        margin: 0 0 0 10px;
        align-self: center;
    }
}
