.profile__about {
    max-width: 295px;
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    grid-row: 2;
    grid-column: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(max-width: 658px){
    .profile__about {
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width: 546px) {
    .profile__about {
        justify-self: center;
        font-size: 14px;
        line-height: 17px;
    }
}