.pop-up__field {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 27px;
    margin: 0 0 29px;
}

@media (max-width: 522px) {
    .pop-up__field {
        max-width: 270px;
        margin-left: 5px;
    }
}
