.profile__add-box {
    box-sizing: border-box;
    border: 2px solid white;
    min-width: 150px;
    max-height: 50px;
    border-radius: 2px;
    transition: 0.8s linear;
    padding: 0;
    align-self: center;
    justify-self: end;
    background-color: black;
    cursor: pointer;
    outline: none;
}

.profile__add-box:hover {
    opacity: 0.6;
}

@media (max-width: 586px) {
    .profile__add-box {
        min-width: 100px;
        min-height: 35px;
    }
}

@media (max-width: 546px) {
    .profile__add-box {
        justify-self: center;
        min-width: 250px;
        min-height: 50px;
        margin-top: 36px;
    }
}

@media (max-width: 320px) {
    .profile__add-box {
        max-width: 282px;
    }
}
