.elements__content {
    display: grid;

    grid-template-rows: minmax(min-content, 23px);
    justify-content: space-between;
    margin: 23px 18px 31px 24px;
}

@media (max-width: 882px) {
    .elements__content {
        margin: 20px 15px 20px 21px;
    }
}
