.profile__info {
    margin-left: 30px;
    align-self: center;
    display: grid;
    max-height: 120px;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: minmax(min-content, auto) min-content;
}

@media(max-width: 658px){
    .profile__info{
        grid-template-columns: minmax(min-content, auto) min-content;
    }
}

@media(max-width: 546px) {
    .profile__info {
        max-width: 280px;
        justify-self: center;
        margin-top: 14px;
        margin-left: 0;
        grid-template-columns: minmax(min-content, auto) min-content;
    }
}