.pop-up__safe-button {
    width: 358px;
    min-height: 50px;
    box-sizing: border-box;
    border-radius: 10px; /* я сделал 10 ибо так выглядит стильней ( простите ! ) */
    background: black;
    color: white;
    padding: 0;
    margin-top: 18px;
    transition: 0.8s linear;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.pop-up__safe-button:hover {
    opacity: 0.8;
}

@media (max-width: 522px) {
    .pop-up__safe-button {
        width: 270px;
        margin: 10px 0 0 5px;
    }
}

@media (max-width: 338px) {
    .pop-up__safe-button {
        width: 230px;
    }
}