.pop-up__close-icon {
    max-width: 54px;
    cursor: pointer;
    /* я не стал делать transition ибо крестик хочется сразу видеть */
}

.pop-up__close-icon:hover {
    opacity: 0.6;
}

@media (max-width: 552px) {
    .pop-up__close-icon {
        max-width: 30px;
        max-height: 30px;
    }
}